body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: #1f2937;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 30px 20%;
    justify-content: space-around;
    align-items: center;

    .hero_main {
        text-align: justify;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        gap: 10px;
        
            h1 {
                font-size: 48px;
                font-weight: bold;
                color: #f9faf8;
                text-align: left;
                margin: 0;
                padding: 0;
            }
        
            div {
                color: #e5e7eb;
                font-size: 18px;
            }

            button {
                border: transparent;
            }
    }

}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 180px;

    img {
        max-width: 100%;
    }
}

.hero_main button,
.button {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 4px;
    max-width: 80px;
}

.destinations {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0;
        padding: 20px;
        font-size: 36px;
        font-weight: bold;
        color: #1f2937;
        display: flex;
        justify-content: center;
    }
    
    .location_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        gap: 30px;
        padding-bottom: 20px;

        img {
            aspect-ratio: 1/1;
            max-width: 75%;
            border-style: groove;
            border-color: #e5e7eb;
        }
    }
}

.quote {
    background-color: #e5e7eb;
    padding: 70px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
    p {
        font-size: 36px;
        font-style: italic;
        font: lighter;
        color: #1f2937;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    span {
        text-align: end;
        font-size: 36px;
        font-weight: bold;
        color: #1f2937;
        display: flex;
        justify-content: end;
    }
}

.call_to_action {
    background-color: #3882f6;
    border-radius: 8px;
    margin: 70px 300px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    h3 {
        font-size: 24px;
        color: #f9faf8;
        margin: 0;
        padding: 0;
    }
    div {
        color: #e5e7eb;
        font-size: 18px;
    }
}

.left {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
}

.button {
    border: 2px solid #f9faf8;
    min-width: 80px;
}

.footer {
    background-color: #1f2937;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: auto;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

li {
    display: inline;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:800px) {
    .box-1 {
        padding: 0px 50px;
    }

    .quote {
        display: block;
    }

    .author {
        display: block;
        padding: 0;
    }
}